<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link href= "css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="inner-header">
            <h1>Моё хобби</h1>

            <div>
                <ul class="navigation">
                    <a href="#"><li>Главная</li></a>
                    <a href="about_me.html"><li>Обо мне</li></a>
                    <a href="contacts.html"><li>Обратная связь</li></a>
                </ul>
            </div>
    </div>
    
</div>
<div class="content">
    <h1>Сборка мебели</h1>
    <hr>
    <img src="photo_2022-12-03_11-57-28.jpg" align="left" alt="Моё фото" width="500" height="430">
    <p>Я занимаюсь сборкой мебели, с 14 лет вместе с отцом строил дома. Я рад что смогу сам построить и обустроить свой дом. </p>
</div>
</body>
</html>